/* Fonts */
@font-face {
  font-family: 'Century Gothic Regular';
  src: url('fonts/CenturyGothic.eot');
  src: url('fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
  url('fonts/CenturyGothic.woff') format('woff'),
  url('fonts/CenturyGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Century Gothic Bold';
  src: url('fonts/CenturyGothic-Bold.eot');
  src: url('fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/CenturyGothic-Bold.woff') format('woff'),
  url('fonts/CenturyGothic-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


/* Colors */

$background-dark: #2d2d2d;
$button-orange:#ff9d00;
$button-orange-hover:#cc7e00;
$white:#fff;
$background-light-gray:#e9e3e3;
$background-gray1:#dbdbdb;
$text-gray:#666;


/* Basic settings */
html,
body {
  overflow-x: hidden;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}

button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 17.5rem;
  height: 4.5rem;
  padding: 0;
  font-family: 'Roboto_med', sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 4.5rem;
  color: #ffffff;
  background-color: #ff9d00;
  border: none;
  border-radius: 5px;
}
.button:hover {
  background-color: #cc7e00;
}





/** Header * Topline **/

header .header {
  background-color: $background-dark;
}
header .header .wrap {
  display: table;
  width: 100%;
  height: 9rem;
}
header .header .wrap .logo {
  display: table-cell;
  vertical-align: middle;
}
header .header .wrap .logo img {
  width: 34rem;
  height: 7rem;
}
header .header .wrap-phone {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
header .header .wrap-phone a {
  display: inline-block;
  margin: 0;
  font-size: 2.2rem;
  font-family: 'Century Gothic Regular', sans-serif;
  font-weight: 500;
  text-align: right;
  color: #fff;
  text-decoration: none;
}
header .header .wrap-button {
  text-align: right;
  display: table-cell;
  vertical-align: middle;
}
header .header .wrap-button button {
  width: 18rem;
  height: 4.5rem;
  padding: 0;
  font-family: 'Century Gothic Bold', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 4.5rem;
  color: #ffffff;
  background-color: #ff9d00;
  border: none;
  border-radius: 5px;
}
header .header .wrap-button button:hover {
  background-color: #cc7e00;
}
header .header .wrap-button button img {
  width: 2rem;
  height: 2rem;
}
header .header .wrap-button button p {
  display: inline-block;
  margin: 0 0 0 1rem;
}

/** Header * Nav **/

header .navbar {
  border: none;
  border-radius: 0;
}
header .navbar-default {
  min-height: 4.4rem;
  margin: 0;
}
header .navbar-default .collapse {
 // padding: 0;
}
header .navbar-default .navbar-header {
  height: 4.4rem;
}
header .navbar-default .navbar-header .navbar-toggle {
  float: left;
  width: 16%;
  margin: 1rem auto;
  border: none;
}
header .navbar-default .navbar-header .navbar-toggle .icon-bar {
  width: 23px;
  height: 3px;
  background-color: #373737;
}
header .navbar-default .navbar-header .navbar-toggle:hover,
header .navbar-default .navbar-header .navbar-toggle:active,
header .navbar-default .navbar-header .navbar-toggle:focus {
  background-color: #f8f8f8;
}
header .navbar-default .navbar-header-call {
  position: relative;
  display: none;
  float: left;
  width: 84%;
  height: 100%;
}
header .navbar-default .navbar-header-call-img {
  position: absolute;
  width: 20%;
  margin: 0;
}
header .navbar-default .navbar-header-call-img img {
  width: 3.6rem;
  height: 3.6rem;
  margin: 1rem 0;
  border-radius: 4px;
}
header .navbar-default .navbar-header-call-phones {
  position: absolute;
  right: 20%;
  display: inline-block;
  width: 60%;
  padding: 1.1rem 0;
  text-align: center;
}
header .navbar-default .navbar-header-call-phones a {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-family: 'Century Gothic Regular', sans-serif;
  font-weight: normal;
  text-decoration: none;
  display: block;
  color:#333;
}
header .navbar-default .navbar-header-call-phones a span {
  font-family: 'Century Gothic Regular', sans-serif;
  font-weight: bold;
}
header .navbar-default .navbar-header-call-handset {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
}
header .navbar-default .navbar-header-call-handset-img {
  position: relative;
  margin: 1.5rem auto;
  width: 2.7rem;
  height: 2.7rem;
  background-color: #ff9d00;
  border-radius: 3px;
  text-align: center;
}
header .navbar-default .navbar-header-call-handset-img:hover {
  cursor: pointer;
}
header .navbar-default .navbar-header-call-handset-img img {
  position: absolute;
  left: 14.5%;
  top: 14.5%;
  width: 70%;
  height: 70%;
}
header .navbar-default .navbar-nav {
  width: 100%;
  margin: 0.5rem -1rem 0.5rem 1rem;
  display: flex;
  justify-content: center;
}
header .navbar-default .navbar-nav li {
  border-left-width: thin;
  border-left-style: dotted;
  border-left-color: #5f5f5f;
}
header .navbar-default .navbar-nav li:first-child {
  border: none;
}
header .navbar-default .navbar-nav li a {
  padding: 0.6rem 2.45rem;
  //text-transform: uppercase;
  //font-size: 1.2rem;
  //font-family: 'Roboto_reg', sans-serif;
  //font-weight: normal;
  //color: #000000;   /// just
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  color:#000000;
  text-shadow: 1px 1px 1px #666;
}
header .navbar-default .navbar-nav li a:hover {
  color: #ff9d00;
}
// ** Extra classes for iphone 5 compatible screen
.small-visible-1 {
  display: none!important;
}


// ** Main **

.main {
  position: relative;
  height: 53rem;
  background: url("images/main/main-bg.jpg") 20% 70% no-repeat;
}
.main-overlay {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.main-boxes {
  position: relative;
  width: 100%;
  height: 100%;
}
.main-boxes-1 {
  z-index: 1;
  position: absolute;
  margin-top: 15%;
  width: 90%;
  margin-left: 10%;
}
.main-boxes-2 {
  z-index: 2;
  position: absolute;
  margin-top: 33%;
  margin-left: 7%;
  width: 110%;
}
.main-boxes-3 {
  z-index: 3;
  position: absolute;
  margin-top: 80%;
  right: 63%;
}
.main-form {
  position: relative;
  width: 100%;
  padding-top: 6.5rem;
  color: #ffffff;
}
.main-form-wrapper {
  position: absolute;
  right: 0;
  width: 53.5rem;
}
.main-form-wrapper-header h1 {
  margin-top: 0;
  font-size: 2.9rem;
  font-family: 'Century Gothic Bold', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.main-form-wrapper-header p {
  margin-bottom: 2.4rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
}
.main-form-wrapper form {
  height: 24rem;
  padding: 2.5rem;
  background-color: rgba(102, 102, 102, 0.5);
}
.main-form-wrapper form p {
  margin-bottom: 2rem;
  font-size: 2.2rem;
  font-family: 'Century Gothic Bold', sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
.main-form-wrapper form p span {
  text-transform: uppercase;
  font-family: 'Roboto_bold', sans-serif;
  font-weight: bold;
}
.main-form-wrapper form input,
.main-form-wrapper form button {
  display: inline-block;
  height: 5.5rem;
  line-height: 5.5rem;
}
.main-form-wrapper form input {
  width: 31rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
  font-size: 1.4rem;
  border-radius: 5px;
  color: #373737;
  //font-family: 'Roboto_light', sans-serif;
  font-family: 'Century Gothic Regular', sans-serif;
  font-weight: 300;
}
.main-form-wrapper form button {
  width: 16rem;
  font-size: 1.5rem;
  //font-family: 'Roboto_med', sans-serif;
  font-family: 'Century Gothic Regular', sans-serif;
  font-weight: 500;
}

//** About ***
.about {
  background-color: $background-gray1;
  padding-top: 3rem;
  padding-bottom: 2.5rem;
  //text-align: center;
  font-family: 'Century Gothic Bold', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color:$text-gray;
  overflow-x: hidden;

}
.about .pic-box img {
  width:100%;
  box-shadow: 7px 7px 7px #333;
}
.about .text-box h2 {
  margin-top: 0px;
  text-transform: uppercase;
  font-family: 'Century Gothic Bold', sans-serif;
  font-weight: 700;
  color:$text-gray;
  text-align: center;
}
.about .text-box span {
  font-size: 1.6rem;
  color: #ec7c26;
}